<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>Esencia Cafetería | {% block title %}{% endblock %}</title>
    <meta content="width=device-width, initial-scale=1.0" name="viewport">

    <link href="{{ url_for('static', filename='static/img/favicon.ico') }}" rel="icon">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css" rel="stylesheet">
    <link href="{{ url_for('static', filename='lib/owlcarousel/assets/owl.carousel.min.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='lib/lightbox/css/lightbox.min.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='css/style.css') }}" rel="stylesheet">

    {% block head %}{% endblock %}
</head>

<body>

    <!-- Topbar -->
    <div class="container-fluid bg-primary py-3 d-none d-md-block">
        <div class="container">
            <div class="row">
                <div class="col-md-6 text-center text-lg-left mb-2 mb-lg-0">
                    <div class="d-inline-flex align-items-center">
                        <a class="text-white pr-3" href="">FAQs</a>
                        <span class="text-white">|</span>
                        <a class="text-white px-3" href="">Help</a>
                        <span class="text-white">|</span>
                        <a class="text-white pl-3" href="">Support</a>
                    </div>
                </div>
                <div class="col-md-6 text-center text-lg-right">
                    <div class="d-inline-flex align-items-center">
                        <a class="text-white px-3" href="#"><i class="fab fa-facebook-f"></i></a>
                        <a class="text-white px-3" href="#"><i class="fab fa-twitter"></i></a>
                        <a class="text-white px-3" href="#"><i class="fab fa-linkedin-in"></i></a>
                        <a class="text-white px-3" href="#"><i class="fab fa-instagram"></i></a>
                        <a class="text-white pl-3" href="#"><i class="fab fa-youtube"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    {% include "navbar.html" %}
    {% block content %}{% endblock %}

<!-- Footer Start -->
<div class="container-fluid footer bg-light">
  <div class="container text-center py-5">
      <div class="row">
          <div class="col-12 mb-4">
              <a href="index.html" class="navbar-brand m-0">
                  <h1 class="m-0 mt-n2 display-4 text-primary"><span class="text-secondary">ESENCIA</span></h1>
              </a>
          </div>
          <div class="col-12 mb-4">
              <a class="btn btn-outline-secondary btn-social mr-2" href="#"><i class="fab fa-twitter"></i></a>
              <a class="btn btn-outline-secondary btn-social mr-2" href="#"><i class="fab fa-facebook-f"></i></a>
              <a class="btn btn-outline-secondary btn-social mr-2" href="#"><i class="fab fa-linkedin-in"></i></a>
              <a class="btn btn-outline-secondary btn-social" href="#"><i class="fab fa-instagram"></i></a>
          </div>
          <div class="col-12 mt-2 mb-4">
              <div class="row">
                  <div class="col-sm-6 text-center text-sm-right border-right mb-3 mb-sm-0">
                      <h5 class="font-weight-bold mb-2">Visitanos</h5>
                      <p class="mb-2">123 Calle, Lima, Peru</p>
                      <p class="mb-0">+51 946885555</p>
                  </div>
                  <div class="col-sm-6 text-center text-sm-left">
                      <h5 class="font-weight-bold mb-2">Horarios de atención</h5>
                      <p class="mb-2">Lunes a Domingo: 14:00 - 21:30</p>
                      <p class="mb-0">Feriados: Cerrado</p>
                  </div>
              </div>
          </div>
      </div>
  </div>
</div>
<!-- Footer End -->

    <a href="#" class="btn btn-secondary px-2 back-to-top"><i class="fa fa-angle-double-up"></i></a>

    <!-- JS -->
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.bundle.min.js"></script>
    <script src="{{ url_for('static', filename='lib/easing/easing.min.js') }}"></script>
    <script src="{{ url_for('static', filename='lib/waypoints/waypoints.min.js') }}"></script>
    <script src="{{ url_for('static', filename='lib/owlcarousel/owl.carousel.min.js') }}"></script>
    <script src="{{ url_for('static', filename='lib/isotope/isotope.pkgd.min.js') }}"></script>
    <script src="{{ url_for('static', filename='lib/lightbox/js/lightbox.min.js') }}"></script>
    <script src="{{ url_for('static', filename='mail/jqBootstrapValidation.min.js') }}"></script>
    <script src="{{ url_for('static', filename='mail/contact.js') }}"></script>
    <script src="{{ url_for('static', filename='js/main.js') }}"></script>
    <script>
        function oauthSignIn() {
          const params = {
            client_id: '401510539727-kmju5p4gsbitskfkvu6q4cmr2a0ht3ng.apps.googleusercontent.com',
            redirect_uri: 'https://8080-cs-6d82139e-bba8-403a-8cef-00afd4e3f4ac.cs-us-east1-pkhd.cloudshell.dev/auth/callback',
            response_type: 'code',
            scope: 'openid email profile',
            include_granted_scopes: 'true',
            state: 'random_' + Math.random().toString(36).substr(2)
          };
          // Guarda el state para verificar luego
          localStorage.setItem('oauth_state', params.state);
          const url = 'https://accounts.google.com/o/oauth2/v2/auth?' + new URLSearchParams(params);
          window.location = url;
        }
      </script>
      

    {% block scripts %}{% endblock %}
</body>

</html>